body {
    margin-top: 84px;
    margin-bottom: 84px;
    margin-left: 235px;
    margin-right: 235px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
